@use "layout/images";
@use "layout/textmediasmall";
@use "layout/layout";
@use "menu";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

:root {
  --primary: #514941;
  --secondary: #f4f0ee;
  --tertiary: #ff6938;
  --brand: #cb261a;
  --gap: 1rem;
}

body {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  background-color: var(--secondary);

  font-size: 16px;
  line-height: 1.5;
}
@mixin grid-children-cols(
  $first-col: "1 / -1",
  $last-col: "7 / -1",
  $title-col: "7 / -1",
  $image-row: "1 / 2"
) {
  > :first-child {
    grid-column: 1/-1;
    grid-row: 1/2;

    @media screen and (min-width: 900px) {
      grid-column: #{$first-col};
      grid-row: 1/2;
    }
  }
  /*   > :nth-child(2) {
    grid-column: 1 / -1;
    grid-row: 2/3;

    @media screen and (min-width: 900px) {
      grid-column: #{$first-col};
      grid-row: 2/3;
    }
  } */

  > :last-child {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin-top: 1.5rem;
    @media screen and (min-width: 900px) {
      grid-column: #{$last-col};
      grid-row: #{$image-row};
      justify-self: start;
    }
  }
}

.content {
  &:not(.full) {
    max-width: 1500px;
    margin: 0 auto;
  }
  &:has(.no-padding) {
    padding: 0rem;
  }
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 5rem 1rem;
  &:not(:has(> *#hero)) {
    min-height: 500px;
  }
  &.tm-layout-1 {
    @include grid-children-cols("1 / 7", "8 / -1", "1 / -1");
  }

  &.tm-layout-2 {
    @include grid-children-cols("7 / -1", "1 / 6", "7 / -1", "1 / 3");
  }
  &.tm-layout-3 {
    @include grid-children-cols("7 / -1", "1 / 6", "1 / -1");
  }
  @media screen and (min-width: 650px) {
    padding: 2.5rem;
  }
  @media screen and (min-width: 1100px) {
    padding: 5rem;
  }
  &.tm-layout-4 {
    @include grid-children-cols("7 / -1", "1 / 6", "1 / 8");
  }
}

#footer {
  padding: 2rem 1rem;

  @media screen and (min-width: 762px) {
    padding: 2.5rem;
  }
  @media screen and (min-width: 1100px) {
    padding: 3rem 5rem;
  }
}

.span-full {
  grid-column: 1 / -1;
}

p {
  font-weight: 400;
  @media screen and (min-width: 768px) {
    max-width: 60ch;
  }
}

#accordion {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  font-family: "Yeseva One", serif;
  margin-bottom: var(--gap);
}

.font-Yeseva {
  font-family: "Yeseva One", serif;
}
.font-mont {
  font-family: "Montserrat", sans-serif;
}

.display {
  font-size: clamp(3.75rem, 8vw, 8rem);
}

h1,
.h1 {
  font-size: clamp(2.625rem, 7vw, 5.6rem);
  font-weight: 500;
  margin-bottom: var(--gap);
}

h2,
.h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 400;
}

h3,
.h3 {
  font-size: clamp(1.5rem, 5vw, 3.16rem);
}

h4,
.h4 {
  font-size: clamp(1.25rem, 4vw, 2.37rem);
}

h5,
.h5,
a {
  font-size: clamp(1.125rem, 3vw, 1.78rem);
}

h6,
.h6 {
  font-size: clamp(1rem, 2.5vw, 1.33rem);
}
p {
  margin-bottom: var(--gap);
}

p,
.p,
a {
  font-size: 0.9375rem;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}

.x-small,
.x-small * {
  font-size: 0.75rem;
  @media screen and (min-width: 768px) {
    font-size: 0.8rem;
  }
}

li {
  list-style: none;
}

li > a {
  font-size: 0.9375rem;
  @media screen and (min-width: 500px) {
    font-size: 2rem;
  }
  @media screen and (min-width: 768px) {
    font-size: 2.37rem;
  }
}
#hero {
  // margin-bottom: 2.5rem;
  padding: 0 1rem;

  background-image: url(../public/images/store-inside.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var(--secondary);

  & > * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

  @media screen and (min-width: 762px) {
    padding: 5rem;
  }
}

.no-padding {
  padding: 0;
}
.burgermenu-links {
  transform: scale(1);
  transition: transform 300ms;

  @media screen and (min-width: 500px) {
    transform: scale(1.125);
  }

  .group:hover & {
    transform: scale(1) translateX(0.25rem);

    @media screen and (min-width: 500px) {
      transform: scale(1.25) translateX(0.5rem);
    }
  }
}
